doctype html 
html
  head 
    title MFEE 16 Express 練習
    meta(charset='utf-8')
    link(rel='stylesheet', href="/styles/main.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    
    block scripts
        
  body 
    include header
    #content 
    block content 
    include footer 