table {

  font-family: 微軟正黑體;
  font-size: 16px;
  width: 200px;
  border: 1px solid lightslategray;
  text-align: center;
  border-collapse: collapse;
}
th {
  background-color: lightcoral;
  padding: 10px;
  border: 1px solid lightslategray;
  color: #fff;
}
td {
  border: 1px solid lightslategray;
  padding: 5px;
}
